@import "tailwindcss";

body {
	background-color: #000000;
	color: #ffffff;
}
.input {
  @apply w-full bg-black border border-gray-700 px-2 py-1.5 rounded-md text-sm focus:outline-none focus:ring-1 focus:ring-red-500;
}
